
* {
   
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins", serif;
  
 
}

:root {
  --bg-color: #1f242d;
  --second-bg-color: #323946;
  --main-color: #7cf03d;
  --white-color: #fff;
  --disabled-color: #fff3;
  --text-color: #333;
  --border-radius: 8px;


}

html {
  font-size: 62.5%;
}

body {
  background: var(--white-color);
  color: var(--text-color);
  line-height: 1.6;
  padding-top: 8rem;
}


header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  background: var(--bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  

}



.logo  {
  font-size: 3rem;
  color: var(--white-color);

  font-weight: 700;
}


nav a{
  font-size: 2rem;
  color: var(--white-color);
  font-weight: 500;
  margin-left: 3.5rem;
  transition: .5s;
}

nav a:hover,

nav a.active {
  color: var(--main-color);
}


/*Form Styling */

form {
  margin: 2rem 0;
  padding: 2rem;
  width: 90%;
  max-width: 500px;
  background: var(--second-bg-color);
  color: var(--white-color);
  border-radius: var(--border-radius);

}

form input,
form textarea {
  width: 100%;
  padding: 1rem;
  margin: 1rem 0;
  border: 1px solid var(--main-color);
  border-radius: var(--border-radius);
  background: var(--bg-color);
  color: var(--white-color);
}


form button {
  padding: 1rem 2rem;
  border: none;
  background: var(--main-color);
  color: var(--white-color);
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: background 0.3s;
}

form button {
  background: #5cb52c;
}

div {
  width: 90%;
  max-width: 1200px;
  margin: 2rem auto;
  padding: 2rem;
  background: var(--white-color);
  border-radius: var(--border-radius);
  
  text-align: center;
}

h1, h2{

  margin-bottom: 1rem ;
  color: var(--bg-color);
  font-size: 3rem;
  font-weight: 700;
}

p {
  color: var(--text-color);
}
img {
  width: 100%;
  border-radius: var(--border-radius);
  margin: 1rem 0;
}


/*Profile Section*/

.my-profile {
  color: var(--main-color);
  margin-top: 2rem;

}

.location {
  font-style: italic;
  color: var(--text-color);
}

/*Posts*/

p.location {
  font-size: 2.6rem;
  color: var(--bg-color);
}

textarea {
  resize: none;
}

legend {
  font-size: 1.8rem;
}

.comments{
  font-size: 2rem;
}